.luis{
    padding-top: 3%;
    background-color: #F2E2D7;
} 

.p1{ 
    margin: auto;
    text-align: center;
    float: left;
    font-size: 100%;
    font-family:  Calibri;
    color: #666666ff;
}

.p1 strong {
    text-align: center;
    color: #187c64ff;
    font-size: 30px;
}
.p2{
    margin: auto;
    text-align: center;
    float: right;
    font-size: 100%;
    font-family:  Calibri;
    color: #666666ff;
}

.p3 { 
    margin: auto;
    text-align: center;
    float: left;
    font-size: 100%;
    font-family: Calibri;
    color: #666666ff;
}