footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #c57d4c39;
    height: auto;
    width: 100%;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content-copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content-copyright p{
  font-size: 15px;
  color: #666666ff;
  font-family: Calibri;
  font-style: italic;
}

.footer-content h3{
    font-size: 2.0rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #187c64ff;
    font-family: Calibri;
}

.footer-content p{
    font-size: 20px;
    color: #666666ff;
    font-family: Calibri;
    
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
}

.isepIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  margin-top:0%;
  margin-bottom: 0px;
}

.socials li{
    margin: 0 10px;
    
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }

 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }

.footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
}

 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }

@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .footer-image {
      display: table-cell;
      height: 50px;
      vertical-align: middle;
    }
}