#team {
  background-color: #c57d4c39;
  text-align: center;
  padding-top: 5%;
}

.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img{
  max-width:90% ;
  margin: auto;
  text-align: center;
  display: flex;
}

.card .child{
  margin-top: 4%;
}

.container1 {
  padding: 0 10px;
  height: 30vh;
}
.container1 .name{
  font-size: 180%;
}

.container1 p{
  text-align: center;
  font-size: 125%;
}

.container1 .title {
  color: grey;
  font-size: 150%;
}

.email{
  text-align: center;
  font-size: 100%;
}
.email p{
  text-align: center;
  font-size: 100%;
}
.btn{
  display: flex;
  margin: auto;
  width: 100%;
  margin-bottom: 4%;
}

.button {
  background-color: #187c64ff;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin: auto;
  text-align: center;
  outline: 0;
  width: 80%;
}

.button:hover {
  background-color: rgb(5, 189, 146);
}

/* Added some media screen!
------------------------------------------------- */

@media screen and (max-width: 650px) {

}

@media screen and (max-width: 1020px) {
}


@media screen and (max-width: 1420px) {

}